page-members {
  .content .list {
    // Make the list above bottom with margin 10px + 56px (fab-button) + 10px
    margin-bottom: 2 * 10px + 56px;
  }

  .item.item-divider {
    height: 31px;
  }

  .item.item-block {
    height: 56px;

    .input-wrapper .label {
      margin: 0;
    }
  }

  ion-fab[right] {
    right: 40px;

    perspective: 10px;

    button.fab-md {
      opacity: 1;

      transition:
        transform 300ms cubic-bezier(1, 0, 0, 1),
        opacity 300ms ease;
    }

    &.hidden button.fab-md {
      opacity: 0;
      transform: translateZ(-1000px);

      transition:
        transform 300ms cubic-bezier(1, 0, 0, 1),
        opacity 300ms ease;
    }
  }

  .item {
    padding-right: 30px !important;
  }

  .letter-avatar {
    display: inline-block;
    width: 40px;
    height: 40px;

    border: .5px solid map_get($colors, 'inactive');
    border-radius: 20px;

    font-size: x-large;
    text-align: center;
    line-height: 39px;
    color: map_get($colors, 'inactive');
  }
}

page-member-detail {
  .list-header-md {
    padding-top: 5px;
    margin-bottom: 5px;
    min-height: 3.6rem;
    font-size: 1.8rem;

    .item-inner {
      padding-right: 8px;
    }

    ion-buttons.bar-buttons-md {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .item-md {
    ion-buttons ion-row button {
      margin-top: 2px;
      margin-bottom: 2px;
    }

    h3 {
      font-weight: bold;
    }
  }

  ul {
    margin: 0;
    padding-left: 2px;
    font-size: 1.3rem;
    border-left: .5px solid map_get($colors, 'inactive');
  }

  ul li {
    list-style-type: none;
    padding-left: 21px;
    text-indent: -21px;

    ion-icon {
      text-indent: 0;
    }
  }

  ion-icon {
    min-width: 18px;
    text-align: center;
  }

  ion-label.label-md {
    margin-top: 1px;
    margin-bottom: 6px;
  }
}
