/*
 * This file is part of CabasVert.
 *
 * Copyright 2017, 2018 Didier Villevalois
 *
 * CabasVert is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * CabasVert is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with CabasVert.  If not, see <http://www.gnu.org/licenses/>.
 */


ion-list {
  // Make the list above bottom with margin 10px + 56px (fab-button) + 10px + 54px (expanded item actions)
  margin-bottom: 2 * 10px + 56px + 54px;
}

ion-item {
  --min-height: 56px;
  cursor: pointer;

  ion-label {
    margin: 0;
  }

  // Make icons a little bigger
  ion-icon {
    font-size: 1.8rem;
  }
}

ion-note.distribution-date {
  font-size: 0.7rem;
  color: var(--ion-color-medium);
  margin-right: 5px;
}

// Add some space on the right for the indexed scroller
sliding-pane[name="remaining"] {
  ion-item-expanding {
    ion-item {
      padding-right: 30px !important;
    }
    ion-item-actions {
      padding-right: 40px;
    }
  }
}
