/*
 * This file is part of CabasVert.
 *
 * Copyright 2017, 2018 Didier Villevalois
 *
 * CabasVert is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * CabasVert is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with CabasVert.  If not, see <http://www.gnu.org/licenses/>.
 */

ion-menu {
  --border: 1px solid var(--ion-item-border-color);
}

.menu-group {
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 1px solid var(--ion-item-border-color);
}

.menu-destination {
  margin: 8px;
  border-radius: 5px;
  --border-radius: 5px !important;
  --border-width: 0 !important;
  --padding-start: 8px;

  ion-icon {
    margin-right: 15px;
  }
}

.selected {
  background-color: rgba(17, 128, 26, 0.30);
}

ion-footer::before {
  background: none;
}

.version-number {
  margin: 5px;
  font-size: xx-small;
  color: var(--ion-text-color);
}
