/*
 * Light Colors
 * -------------------------------------------
 */

$text-md-color: #121212;
$background-md-color: #ffffff;

$text-ios-color: #000000;
$background-ios-color: #ffffff;

/*
 * iOS Light Theme
 */

.ios body {
  --ion-background-color: #{$background-ios-color};
  --ion-background-color-rgb: #{color-to-rgb-list($background-ios-color)};

  --ion-text-color: #{$text-ios-color};
  --ion-text-color-rgb: #{color-to-rgb-list($text-ios-color)};

  --ion-border-color: var(--ion-color-step-100);

  --ion-color-step-50: #{mix($text-ios-color, $background-ios-color, 5%)};
  --ion-color-step-100: #{mix($text-ios-color, $background-ios-color, 10%)};
  --ion-color-step-150: #{mix($text-ios-color, $background-ios-color, 15%)};
  --ion-color-step-200: #{mix($text-ios-color, $background-ios-color, 20%)};
  --ion-color-step-250: #{mix($text-ios-color, $background-ios-color, 25%)};
  --ion-color-step-300: #{mix($text-ios-color, $background-ios-color, 30%)};
  --ion-color-step-350: #{mix($text-ios-color, $background-ios-color, 35%)};
  --ion-color-step-400: #{mix($text-ios-color, $background-ios-color, 40%)};
  --ion-color-step-450: #{mix($text-ios-color, $background-ios-color, 45%)};
  --ion-color-step-500: #{mix($text-ios-color, $background-ios-color, 50%)};
  --ion-color-step-550: #{mix($text-ios-color, $background-ios-color, 55%)};
  --ion-color-step-600: #{mix($text-ios-color, $background-ios-color, 60%)};
  --ion-color-step-650: #{mix($text-ios-color, $background-ios-color, 65%)};
  --ion-color-step-700: #{mix($text-ios-color, $background-ios-color, 70%)};
  --ion-color-step-750: #{mix($text-ios-color, $background-ios-color, 75%)};
  --ion-color-step-800: #{mix($text-ios-color, $background-ios-color, 80%)};
  --ion-color-step-850: #{mix($text-ios-color, $background-ios-color, 85%)};
  --ion-color-step-900: #{mix($text-ios-color, $background-ios-color, 90%)};
  --ion-color-step-950: #{mix($text-ios-color, $background-ios-color, 95%)};

  --ion-toolbar-background: var(--ion-color-step-50);

  --ion-item-background: var(--ion-color-step-100);
  --ion-item-background-activated: var(--ion-color-step-200);
}

/*
 * Material Design Light Theme
 */

.md body {
  --ion-background-color: #{$background-md-color};
  --ion-background-color-rgb: #{color-to-rgb-list($background-md-color)};

  --ion-text-color: #{$text-md-color};
  --ion-text-color-rgb: #{color-to-rgb-list($text-md-color)};

  --ion-border-color: var(--ion-color-step-100);

  --ion-color-step-50: #{mix($text-md-color, $background-md-color, 5%)};
  --ion-color-step-100: #{mix($text-md-color, $background-md-color, 10%)};
  --ion-color-step-150: #{mix($text-md-color, $background-md-color, 15%)};
  --ion-color-step-200: #{mix($text-md-color, $background-md-color, 20%)};
  --ion-color-step-250: #{mix($text-md-color, $background-md-color, 25%)};
  --ion-color-step-300: #{mix($text-md-color, $background-md-color, 30%)};
  --ion-color-step-350: #{mix($text-md-color, $background-md-color, 35%)};
  --ion-color-step-400: #{mix($text-md-color, $background-md-color, 40%)};
  --ion-color-step-450: #{mix($text-md-color, $background-md-color, 45%)};
  --ion-color-step-500: #{mix($text-md-color, $background-md-color, 50%)};
  --ion-color-step-550: #{mix($text-md-color, $background-md-color, 55%)};
  --ion-color-step-600: #{mix($text-md-color, $background-md-color, 60%)};
  --ion-color-step-650: #{mix($text-md-color, $background-md-color, 65%)};
  --ion-color-step-700: #{mix($text-md-color, $background-md-color, 70%)};
  --ion-color-step-750: #{mix($text-md-color, $background-md-color, 75%)};
  --ion-color-step-800: #{mix($text-md-color, $background-md-color, 80%)};
  --ion-color-step-850: #{mix($text-md-color, $background-md-color, 85%)};
  --ion-color-step-900: #{mix($text-md-color, $background-md-color, 90%)};
  --ion-color-step-950: #{mix($text-md-color, $background-md-color, 95%)};

  --ion-item-background: var(--ion-background-color);
}
