$indexed-scroller-vertical-margin: 15px;
$indexed-scroller-right-margin: 10px;
$indexed-scroller-width: 20px;
$indexed-scroller-border: .5px;
$indexed-scroller-vertical-padding: 5px;

$indexed-scroller-fab-size: 72px;
$indexed-scroller-fab-margin: 30px + $indexed-scroller-width + $indexed-scroller-right-margin;

$indexed-scroller-bar-height: 40px;

indexed-scroller {
  right: 0;
  margin: 0;
  border: 0;
  background: transparent;

  width: $indexed-scroller-width + $indexed-scroller-right-margin;
  padding: 0;

  display: block;

  .indexed-scroller-column {
    right: 0;
    margin-top: $indexed-scroller-vertical-margin;
    margin-bottom: $indexed-scroller-vertical-margin;
    margin-right: $indexed-scroller-right-margin;

    border: $indexed-scroller-border solid map_get($colors, 'inactive');
    background-color: map_get($colors, 'light');

    height: 100%;
    width: $indexed-scroller-width;
    border-radius: $indexed-scroller-width / 2;
    padding-top: $indexed-scroller-vertical-padding;
    padding-bottom: $indexed-scroller-vertical-padding;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .indexed-scroller-row {
    text-align: center;
    width: 100%;
    padding: 0;
  }

  .indexed-scroller-index {
    vertical-align: baseline;
    font-size: 12px;
    min-width: 100%;
    color: map_get($colors, 'inactive');
  }

  .indexed-scroller-indicator {
    position: absolute;
    right: $indexed-scroller-fab-margin;
    display: none;
  }

  .indexed-scroller-indicator button {
    width: $indexed-scroller-fab-size;
    height: $indexed-scroller-fab-size;
    font-size: xx-large;

    .button-inner {
      padding-left: 1px;
    }
  }

  .indexed-scroller-bar {
    position: absolute;
    left: $indexed-scroller-border;
    display: none;

    background-color: map_get($colors, 'primary');
    opacity: .5;

    border-radius: $indexed-scroller-width / 2 - $indexed-scroller-border;
    border: 0;

    z-index: 999;

    height: $indexed-scroller-bar-height;
    width: $indexed-scroller-width - 2 * $indexed-scroller-border;
  }
}
