
// FIXME Remove after ionic 4.0.0-beta3
ion-button[disabled] {
  pointer-events: none !important;
}

// Fixes for lists with inset margin

.list-md.list-inset ion-item:first-child {
  --border-width: 0 0 1px 0 !important;
}

.list-md.list-inset ion-item {
  --padding-start: 0;
  --padding-end: 0;
}

.list-md.list-inset ion-item-divider {
  --padding-start: 0;
  --padding-end: 0;

  color: var(--ion-color-light-contrast);
  font-weight: bold;
  font-size: 1.2rem;
}

.list-md.list-inset ion-list-header {
  padding: 0;
}

ion-item-divider ion-icon[slot=start],
ion-item-divider ion-icon[slot=end] {
  margin: 2px 8px 2px 0;
}

// Fixes for ion-select not occupying full space

ion-item.item-interactive {
  ion-label {
    flex: initial;
  }
  ion-select {
    flex: 1;
    max-width: unset;
    text-align: right;
  }
}

// Thinner toolbar styles

ion-toolbar.toolbar-thinner {
  --padding-left: 0;
  --padding-right: 0;
  --padding-top: 0;
  --padding-bottom: 0;
  --min-height: 42px;
}
