/*
 * This file is part of CabasVert.
 *
 * Copyright 2017, 2018 Didier Villevalois
 *
 * CabasVert is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * CabasVert is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with CabasVert.  If not, see <http://www.gnu.org/licenses/>.
 */

// Fixes for lists with inset margin

.list-md.list-inset ion-item:first-child {
  --border-width: 0 0 1px 0 !important;
}

.list-md.list-inset ion-item {
  --padding-start: 0;
  --padding-end: 0;
}

.list-md.list-inset ion-item-divider {
  --padding-start: 0;
  --padding-end: 0;

  color: var(--ion-color-light-contrast);
  font-weight: bold;
  font-size: 1.2rem;
}

.list-md.list-inset ion-list-header {
  padding: 0;
}

ion-item-divider ion-icon[slot=start],
ion-item-divider ion-icon[slot=end] {
  margin: 2px 8px 2px 0;
}

// Fixes for ion-select not occupying full space

ion-item.item-interactive {
  ion-select {
    max-width: 60%;
  }
}

// Thinner toolbar styles

ion-toolbar.toolbar-thinner {
  --padding-left: 0;
  --padding-right: 0;
  --padding-top: 0;
  --padding-bottom: 0;
  --min-height: 42px;
}

// Large popover

.large-popover .popover-content {
  min-width: 300px;
  width: 300px;
}

// Right popover

// FIXME Find a correct way to open the popover on the right
// This is used in app-week-select
.right-popover .popover-content {
  transform-origin: right top 0px !important;
  right: 16px !important;
  left: unset !important;
}
