/*
 * This file is part of CabasVert.
 *
 * Copyright 2017, 2018 Didier Villevalois
 *
 * CabasVert is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * CabasVert is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with CabasVert.  If not, see <http://www.gnu.org/licenses/>.
 */

$background-color-value: #ffffff;
$text-color-value: #000000;

@function color-to-rgb-list($color) {
  @return #{red($color)},#{green($color)},#{blue($color)};
}

.theme-light {
  --ion-background-color: #{$background-color-value};
  --ion-text-color: #{$text-color-value};

  --ion-color-step-50: #{mix($text-color-value, $background-color-value, 5%)};
  --ion-color-step-100: #{mix($text-color-value, $background-color-value, 10%)};
  --ion-color-step-150: #{mix($text-color-value, $background-color-value, 15%)};
  --ion-color-step-200: #{mix($text-color-value, $background-color-value, 20%)};
  --ion-color-step-250: #{mix($text-color-value, $background-color-value, 25%)};
  --ion-color-step-300: #{mix($text-color-value, $background-color-value, 30%)};
  --ion-color-step-350: #{mix($text-color-value, $background-color-value, 35%)};
  --ion-color-step-400: #{mix($text-color-value, $background-color-value, 40%)};
  --ion-color-step-450: #{mix($text-color-value, $background-color-value, 45%)};
  --ion-color-step-500: #{mix($text-color-value, $background-color-value, 50%)};
  --ion-color-step-550: #{mix($text-color-value, $background-color-value, 55%)};
  --ion-color-step-600: #{mix($text-color-value, $background-color-value, 60%)};
  --ion-color-step-650: #{mix($text-color-value, $background-color-value, 65%)};
  --ion-color-step-700: #{mix($text-color-value, $background-color-value, 70%)};
  --ion-color-step-750: #{mix($text-color-value, $background-color-value, 75%)};
  --ion-color-step-800: #{mix($text-color-value, $background-color-value, 80%)};
  --ion-color-step-850: #{mix($text-color-value, $background-color-value, 85%)};
  --ion-color-step-900: #{mix($text-color-value, $background-color-value, 90%)};
  --ion-color-step-950: #{mix($text-color-value, $background-color-value, 95%)};

  //--ion-backdrop-color                    Color the backdrop component
  //--ion-overlay-background-color          Background color of the overlays

  //--ion-border-color                      Border color
  //--ion-box-shadow-color                  Box shadow color

  //--ion-tabbar-background-color           Background color of the tabbar
  //--ion-tabbar-background-color-focused   Background color of the focused tabbar
  //--ion-tabbar-border-color               Border color of the tabbar
  //--ion-tabbar-text-color                 Text color of the tabbar
  //--ion-tabbar-text-color-active          Text color of the active tab

  //--ion-toolbar-background-color          Background color of the toolbar
  //--ion-toolbar-border-color              Border color of the toolbar
  //--ion-toolbar-color-inactive            Color of the toolbar
  //--ion-toolbar-color-active              Color of the active toolbar
  //--ion-toolbar-text-color                Text color of the toolbar

  //--ion-item-background-color             Background color of the item
  //--ion-item-background-color-active      Background color of the active item
  //--ion-item-border-color                 Border color of the item
  //--ion-item-text-color                   Text color of the item

  $item-border-color: mix($background-color-value, $text-color-value, 60%);
  --ion-item-border-color: #{$item-border-color};
  --ion-item-border-color-rgb: #{color-to-rgb-list($item-border-color)};

  //--ion-placeholder-text-color            Text color of the item placeholder
}
