/*
 * This file is part of CabasVert.
 *
 * Copyright 2017, 2018 Didier Villevalois
 *
 * CabasVert is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * CabasVert is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with CabasVert.  If not, see <http://www.gnu.org/licenses/>.
 */

:host {
  --ion-grid-padding: 0;
}

ion-row {
  ion-col {
    border-top: 1px solid var(--ion-color-light-tint);
  }
}

ion-row {
  ion-col {
    border-bottom: 1px solid var(--ion-color-light-tint);
  }
}

ion-col {

  &.even {
    background-color: var(--ion-color-light-shade);
  }
  &.odd {
    background-color: var(--ion-color-light-tint);
  }

  div {
    display: flex;
    justify-content: space-around;

    .month-name {
      min-width: 1.2em;

      writing-mode: vertical-rl;
      transform: rotate(180deg);

      font-size: .7em;
      font-weight: bold;
      color: var(--ion-color-primary);
    }

    ion-button {
      width: 3em;

      .current-week {
        position: fixed;
        right: 3px;
        top: 0;
      }
      .current-week.selected-week {
        right: 4px;
        top: 1px;
      }
    }
  }
}

ion-row.unset-button {
  padding: 0;

  ion-button {
    font-size: 10px;
  }
}
