/*
 * This file is part of CabasVert.
 *
 * Copyright 2017, 2018 Didier Villevalois
 *
 * CabasVert is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * CabasVert is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with CabasVert.  If not, see <http://www.gnu.org/licenses/>.
 */

//// From Ionic

@mixin padding($top, $end: $top, $bottom: $top, $start: $end) {
  @include property(padding, $top, $end, $bottom, $start);
}

@mixin input-cover() {
  @include position(0, null, null, 0);
  @include margin(0);

  position: absolute;

  width: 100%;
  height: 100%;

  border: 0;
  background: transparent;
  cursor: pointer;

  appearance: none;
  outline: none;

  &::-moz-focus-inner {
    border: 0;
  }
}

@mixin position($top: null, $end: null, $bottom: null, $start: null) {
  @include position-horizontal($start, $end);
  top: $top;
  bottom: $bottom;
}

@mixin position-horizontal($start: null, $end: null) {
  left: $start;
  right: $end;
}

@mixin margin($top, $end: $top, $bottom: $top, $start: $end) {
  @include property(margin, $top, $end, $bottom, $start);
}

@mixin property($prop, $top, $end: $top, $bottom: $top, $start: $end) {
  @include property-horizontal($prop, $start, $end);
  #{$prop}-top: $top;
  #{$prop}-bottom: $bottom;
}

@mixin property-horizontal($prop, $start, $end: $start) {
  @if $start == 0 and $end == 0 {
    #{$prop}-left: $start;
    #{$prop}-right: $end;

  } @else {
    #{$prop}-left: $start;
    #{$prop}-right: $end;

    @at-root {
      @supports ((margin-inline-start: 0) or (-webkit-margin-start: 0)) {
        & {
          @if $start != null {
            #{$prop}-left: unset;
          }
          @if $end != null {
            #{$prop}-right: unset;
          }

          -webkit-#{$prop}-start: $start;
          #{$prop}-inline-start: $start;
          -webkit-#{$prop}-end: $end;
          #{$prop}-inline-end: $end;
        }
      }
    }
  }
}

//// From Ionic (end)

:host {
  /**
   * @prop --color: Color of the select text
   * @prop --icon-color: Color of the select icon
   * @prop --padding-top: Top padding of the select
   * @prop --padding-end: End padding of the select
   * @prop --padding-bottom: Bottom padding of the select
   * @prop --padding-start: Start padding of the select
   * @prop --placeholder-color: Color of the select placeholder text
   */

  @include padding(var(--padding-top), var(--padding-end), var(--padding-bottom), var(--padding-start));

  display: flex;
  position: relative;
  color: var(--color);
  font-family: #{var(--ion-font-family, inherit)};
  overflow: hidden;
}

:host-context(ion-item) {
  position: static;

  max-width: 70%;
}

:host(.select-disabled) {
  opacity: .4;
  pointer-events: none;
}

button {
  font-size: inherit;
  display: flex;

  border: 0;
  background: transparent;
  cursor: pointer;

  appearance: none;
  outline: none;
}

.select-text {
  flex: 1;
  min-width: 16px;
  font-size: inherit;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.select-cover {
  @include input-cover();
}

.select-icon {
  position: relative;
}

.select-icon-inner {
  @include position(50%, null, null, 5px);
  @include margin(-3px, null, null, null);

  position: absolute;

  width: 0;
  height: 0;

  border-top: 5px solid;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;

  color: var(--icon-color);
  pointer-events: none;
}

.decrement-disabled, .increment-disabled {
  opacity: .4;
  pointer-events: none;
}

.decrement, .increment {
  position: relative;

  width: 22px;
  height: 19px;
}

.decrement-button {
  @include position(50%, null, null, 0);
  @include margin(-22px);

  position: absolute;

  height: 44px;
  width: 44px;

  border: 0;
  background: transparent;
  cursor: pointer;

  appearance: none;
  outline: none;

  z-index: 10;
}

.increment-button {
  @include position(50%, 0, null, null);
  @include margin(-22px);

  position: absolute;

  height: 44px;
  width: 44px;

  border: 0;
  background: transparent;
  cursor: pointer;

  appearance: none;
  outline: none;

  z-index: 10;
}

.decrement-icon {
  @include position(50%, null, null, 0);
  @include margin(-6px, null, null, null);

  position: absolute;

  width: 0;
  height: 0;

  border-right: 5px solid;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;

  color: var(--color);
  pointer-events: none;
}

.increment-icon {
  @include position(50%, 0, null, null);
  @include margin(-6px, null, null, null);

  position: absolute;

  width: 0;
  height: 0;

  border-left: 5px solid;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;

  color: var(--color);
  pointer-events: none;
}

:host {
  --color: #{var(--ion-text-color, inherit)};
  --icon-color: #{var(--ion-color-step-600, inherit)};
  --padding-top: 10px;
  --padding-end: 8px;
  --padding-bottom: 11px;
  --padding-start: 16px;
  --placeholder-color: #{var(--ion-color-step-600, inherit)};
}

.select-icon {
  width: 12px;
  height: 19px;
}
