$scroll-to-top-transition-duration: 300ms;

.scroll-to-top-fab {
  opacity: 0;
  transition: opacity $scroll-to-top-transition-duration ease-in-out;
  pointer-events: none;

  &.visible {
    opacity: .8;
    transition: opacity $scroll-to-top-transition-duration ease-in-out;
    pointer-events: auto;
  }
}

$ion-fab-mini-size: 38px;
$ion-fab-mini-margin: 10px;

ion-fab[mini] {
  button {
    border: .5px solid map_get($colors, 'inactive');
    width: $ion-fab-mini-size;
    height: $ion-fab-mini-size;
  }

  &[bottom] {
    bottom: $ion-fab-mini-margin;
  }

  &[center] {
    margin-left: -$ion-fab-mini-size / 2;
  }
}
