h3 {
  font-weight: bold;
  font-size: 1rem;
}

h4 {
  font-size: 0.8rem;
}

p {
  font-size: 0.8rem;
}

.validation {
  color: var(--ion-color-primary-tint);
}

ul {
  margin: 0;
  padding-left: 2px;
  font-size: 0.8rem;
  border-left: .5px solid var(--ion-color-medium);

  li {
    list-style-type: none;
    padding-left: 21px;
    text-indent: -21px;

    ion-icon {
      text-indent: 0;
      min-width: 18px;
      text-align: center;
    }
  }
}

.problem {
  font-style: italic;
  font-weight: bold;

  &.warning {
    color: var(--ion-color-warning);
  }

  &.danger {
    color: var(--ion-color-danger);
  }
}
