/*
 * This file is part of CabasVert.
 *
 * Copyright 2017, 2018 Didier Villevalois
 *
 * CabasVert is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * CabasVert is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with CabasVert.  If not, see <http://www.gnu.org/licenses/>.
 */

ion-list-header {
  padding-top: 5px;
  margin-bottom: 5px;

  border-top: solid 1px var(--ion-color-light-shade);

  font-weight: bold;
  font-size: 1.2rem;
  color: var(--ion-color-light-contrast);

  ion-buttons {
    margin-right: 12px;
  }
}

ion-button {
  --height: 30px !important;
  --padding-start: 10px !important;
  --padding-end: 10px !important;
}

ion-grid {
  --ion-grid-padding: 0px;
  --ion-grid-column-padding: 2px;
}

h3 {
  font-weight: bold;
  font-size: 1rem;
}

ul {
  margin: 0;
  padding-left: 2px;
  font-size: 0.8rem;
  border-left: .5px solid var(--ion-color-medium);

  li {
    list-style-type: none;
    padding-left: 21px;
    text-indent: -21px;

    ion-icon {
      text-indent: 0;
      min-width: 18px;
      text-align: center;
    }
  }
}

ion-label {
  margin-top: 1px;
  margin-bottom: 6px;
}
