/*
 * This file is part of CabasVert.
 *
 * Copyright 2017, 2018 Didier Villevalois
 *
 * CabasVert is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * CabasVert is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with CabasVert.  If not, see <http://www.gnu.org/licenses/>.
 */

$searchbar-unfolding-time: 300ms;

ion-toolbar.unfolding {
  position: fixed;
  top: 0;
  z-index: 100;

  ion-searchbar {
    padding: 0;
  }

  transform: translateX(100%);
  transition: transform $searchbar-unfolding-time ease-out;

  &.unfolded {
    transform: translateX(0);
  }
}

ion-toolbar.filter-toggles {

  div {
    display: flex;
    width: auto;
    justify-content: space-evenly;
  }

  ion-button {
    --border-color: #{var(--ion-text-color-step-300)};
    --color: #{var(--ion-text-color-step-300)};

    --padding-start: .7em;
    --padding-end: .7em;

    &[fill='solid'] {
      margin-left: 2px;
      margin-right: 2px;
    }
  }
}

ion-content ion-list {
  // Make the list above bottom with margin 10px + 56px (fab-button) + 10px
  margin-bottom: 2 * 10px + 56px;
}

ion-item-divider {
  height: 40px;
}

ion-item {
  --min-height: 56px;
  cursor: pointer;

  ion-label {
    margin: 0;
  }

  // Make icons a little bigger
  ion-icon {
    font-size: 1.8rem;
  }
}

ion-fab.add-member {
  right: 40px;

  perspective: 10px;

  ion-fab-button {
    opacity: 1;

    transition: transform 300ms cubic-bezier(1, 0, 0, 1), opacity 300ms ease;
  }

  &.hidden ion-fab-button {
    opacity: 0;
    transform: translateZ(-1000px);

    transition: transform 300ms cubic-bezier(1, 0, 0, 1), opacity 300ms ease;
  }
}

.item {
  padding-right: 30px !important;
}

.letter-avatar {
  display: inline-block;
  width: 40px;
  height: 40px;

  border: .5px solid var(--ion-color-medium);
  border-radius: 20px;

  font-size: x-large;
  text-align: center;
  line-height: 39px;
  color: var(--ion-color-medium);
}
