/*
 * This file is part of CabasVert.
 *
 * Copyright 2017, 2018 Didier Villevalois
 *
 * CabasVert is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * CabasVert is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with CabasVert.  If not, see <http://www.gnu.org/licenses/>.
 */

:host {
  position: relative;
  z-index: 1; // $z-index-item-options;

  width: 100%;
  display: flex;
  align-items: center;

  padding-left: 16px;
  padding-right: 16px;

  background-color: var(--ion-color-step-100);
  color: var(--ion-text-color);

  font-size: 14px;

  height: 0px;
  opacity: 0;
  pointer-events: none;

  transition: all 150ms ease-in-out;
}

:host-context(.expanded) {
  height: 54px;
  opacity: 1;
  pointer-events: all;
}
