:host {
  flex-grow: 1;
  height: inherit;

  box-shadow: none;
  box-sizing: content-box;

  display: flex;
  flex-direction: column;
}

button {
  padding: 0;
  height: 54px;
  background-color: var(--ion-color-light);
  outline: none;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button:hover {
  background-color: var(--ion-color-light-shade);
}

ion-icon {
  display: block;
  font-size: 24px;
  margin: 0 auto 1px auto;
  padding-bottom: 0;
}

ion-label {
  display: block;
  margin: 0;

  font-size: 8px;
  line-height: 8px;
  text-transform: none;
  font-weight: normal;
  max-height: 10px;
}
