/*
 * This file is part of CabasVert.
 *
 * Copyright 2017, 2018 Didier Villevalois
 *
 * CabasVert is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * CabasVert is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with CabasVert.  If not, see <http://www.gnu.org/licenses/>.
 */

$scroll-to-top-transition-duration: 300ms;

$ion-fab-mini-size: 38px;
$ion-fab-mini-margin: 10px;

.scroll-to-top {
  opacity: 0;
  transition: opacity $scroll-to-top-transition-duration ease-in-out;
  pointer-events: none;

  &.visible {
    opacity: .8;
    transition: opacity $scroll-to-top-transition-duration ease-in-out;
    pointer-events: auto;
  }

  &[vertical=bottom] {
    bottom: $ion-fab-mini-margin;
  }

  &[center] {
    margin-left: -$ion-fab-mini-size / 2;
  }

  ion-fab-button {
    --size: #{$ion-fab-mini-size};
  }
}
